{% extends 'base.html' %}

{% block title %} Creating Post {% endblock %}

{% block content %}
    <h1>Create Post</h1>
    <br>
    {% if post_created %}
        <br>
        <h2>Post was created</h2>
        <br>
    {% endif %}
    <br>
    <form method="POST">
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Create">
        </div>
    </form>
    {% if errors %}
        {{ errors }}
    {% endif %}
{% endblock %}