{% extends "base.html" %}

{% block title %} {{ post.name | title }} {% endblock %}

{% block content %}
    <h1>{{ post.name }}</h1>
    <br>
    <p>{{ post.date }}</p>
    <p>Written by {{ post.user.username }}</p>
    <br>
    <h5>Rating: {{ post.get_rating }}</h5>
    <br>
    <h2>{{ post.description }}</h2>
    <br>
    <p>{{ post.text }}</p>
    <br>
    <div class="card">
        <h5 class="card-header">Comments</h5>
        <div class="card-body">
            {% if request.user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Send comment">
                </form>
            {% else %}
                <h3> Log in to write comments</h3>
            {% endif %}
            {% for each in comments %}
                <br>
                <h5 class="card-title">{{ each.user.username }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ each.date }}</h6>
                <p class="card-text">{{ each.text }}</p>
                <br>
            {% endfor %}
        </div>
    </div>
    <script>
        $('.likebtn').click(function(){
        let id = $(this).attr('id');
        $.ajax(
            {
                type:"GET",
                url: '{% url "like" %}',
                data:{
                    post_id: id,
                },
            dataType: "json",
            success: function(data)
            {
                let btn = $('#'+id);
                btn.html('❤️'+data.post_likes);
                if (data.action == "add") {
                    btn.removeClass('btn-light');
                    btn.addClass('btn-success');
                }
                else if (data.action == "remove") {
                    btn.removeClass('btn-success');
                    btn.addClass('btn-light');
                }
            }
        })
    });
</script>
{% endblock %}

